In [1]:
#a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have toscrape:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

# 1. Objective : Scraping the team ranking

In [2]:
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
r = requests.get(url)

In [3]:
soup = bs(r.text, 'html.parser')
table  = soup.find('table', class_="table")
body = table.find('tbody')

tr = body.find_all('tr')
row = []

for i in tr:
    row_data = i.find_all('td')
    l = []
for j in row_data:
    p = j.text.strip().split('\n')
    
    l.append(p)

    row.append(l)

In [4]:
list = []
for i in row:
  
    pos = i[0][0]
    team = i[1][0]
    matches = i[2][0]
    point = i[3][0]
    rating = i[4][0]
    
    d = {
      'POS' : pos,
       'TEAM' : team,
       'MATCHES' : matches,
       'POINTS' : point,
       'RATING' : rating
       }
    list.append(d)

In [5]:
df = pd.DataFrame(list)
df.head(10)

  POS          TEAM MATCHES POINTS RATING
0   1     Australia      21  3,379    161
1   2       England      25  2,983    119
2   3  South Africa      29  3,390    117
3   4         India      26  2,934    113
4   5   New Zealand      26  2,392     92
5   6   West Indies      22  1,872     85
6   7      Pakistan      20  1,496     75
7   8    Bangladesh       5    306     61
8   9     Sri Lanka      11    519     47
9  10       Ireland       2     25     13

# 2. Scraping ODI Batting Rankings

In [6]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
r = requests.get(url)
soup = bs(r.text, 'html.parser')

In [7]:
pos_list = []
player_list  = []
team_list  = []
rating_list = []
career_best_rating_list  = []


pos = soup.find('td', class_="rankings-block__position").text
pos_list.append(pos)


player = soup.find('div', class_="rankings-block__banner--name-large").text
player_list.append(player)


team = soup.find('div', class_ = "rankings-block__banner--nationality").text.strip().replace('\n','')
team_list.append(team)


rating = soup.find('div', class_="rankings-block__banner--rating").text
rating_list.append(rating)


career_best_rating  = soup.find('span', class_="rankings-block__career-best-text").text.strip()
career_best_rating_list.append(career_best_rating)

In [8]:
container = soup.find_all('tr', class_="table-body")

for i in container:#[0:1]:
    pos = i.find('td', class_="table-body__cell table-body__cell--position u-text-right").text.strip()
    pos = pos.split('\n') 
    pos_list.append(pos)
  
  
    player = i.find('td', class_="table-body__cell rankings-table__name name").text.strip()
    player_list.append(player)

  
    team = i.find('span', class_="table-body__logo-text").text.strip()
    team_list.append(team)

 
    rating = i.find('td', class_="table-body__cell rating").text.strip()
    rating_list.append(rating)

  
    career_best_rating = i.find('td', class_="table-body__cell u-text-right u-hide-phablet").text.strip()
    career_best_rating_list.append(career_best_rating)

In [9]:
df  = pd.DataFrame({
    'POS' : pos_list,
    'PLAYER' : player_list,
    'TEAM' : team_list,
    'RATING' : rating_list,
    'CAREER BEST RATING': career_best_rating_list
})


df.replace(to_replace = 'This player has moved down in the rankings since the previous rankings update', value='', inplace= True)

df.head(10)

    POS             PLAYER TEAM RATING             CAREER BEST RATING
0     1        Lizelle Lee   SA    761  774 v West Indies, 07/09/2021
1   [2]       Alyssa Healy  AUS    750        776 v India, 21/09/2021
2   [3]        Mithali Raj  IND    738    839 v Australia, 24/12/2004
3   [4]     Tammy Beaumont  ENG    728        791 v India, 27/06/2021
4   [5]  Amy Satterthwaite   NZ    717    756 v Australia, 02/03/2017
5   [6]    Smriti Mandhana  IND    710      797 v England, 28/02/2019
6   [7]        Meg Lanning  AUS    699  834 v New Zealand, 24/02/2016
7   [8]        Beth Mooney  AUS    690        690 v India, 26/09/2021
8   [9]     Heather Knight  ENG    674  693 v West Indies, 06/06/2019
9  [10]    Laura Wolvaardt   SA    672        725 v India, 07/03/2021

# 3. Scraping the ODI Bowling Rankings data

In [10]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling'
r = requests.get(url)
soup = bs(r.text, 'html.parser')

In [11]:
pos_list = []
player_list  = []
team_list  = []
rating_list = []
career_best_rating_list  = []


pos = soup.find('td', class_="rankings-block__position").text
pos_list.append(pos)


player = soup.find('div', class_="rankings-block__banner--name-large").text
player_list.append(player)


team = soup.find('div', class_ = "rankings-block__banner--nationality").text.strip().replace('\n','')
team_list.append(team)


rating = soup.find('div', class_="rankings-block__banner--rating").text
rating_list.append(rating)


career_best_rating  = soup.find('span', class_="rankings-block__career-best-text").text.strip()
career_best_rating_list.append(career_best_rating)

In [12]:
container = soup.find_all('tr', class_="table-body")

for i in container:#[0:1]:
    pos = i.find('td', class_="table-body__cell table-body__cell--position u-text-right").text.strip()
    pos = pos.split('\n') 
    pos = pos[0] 
    pos_list.append(pos)
  
    player = i.find('td', class_="table-body__cell rankings-table__name name").text.strip()
    player_list.append(player)

  
    team = i.find('span', class_="table-body__logo-text").text.strip()
    team_list.append(team)

  
    rating = i.find('td', class_="table-body__cell rating").text.strip()
    rating_list.append(rating)

  
    career_best_rating = i.find('td', class_="table-body__cell u-text-right u-hide-phablet").text.strip()
    career_best_rating_list.append(career_best_rating)

In [13]:
df  = pd.DataFrame({
    'POS' : pos_list,
    'PLAYER' : player_list,
    'TEAM' : team_list,
    'RATING' : rating_list,
    'CAREER BEST RATING': career_best_rating_list
})


df.replace(to_replace = 'This player has moved down in the rankings since the previous rankings update', value='', inplace= True)

df.head(10)

  POS             PLAYER TEAM RATING             CAREER BEST RATING
0   1      Jess Jonassen  AUS    760  808 v New Zealand, 10/04/2021
1   2     Jhulan Goswami  IND    727      796 v England, 28/02/2007
2   3       Megan Schutt  AUS    717  766 v West Indies, 11/09/2019
3   4     Marizanne Kapp   SA    715  749 v West Indies, 10/09/2021
4   5  Sophie Ecclestone  ENG    701  701 v New Zealand, 26/09/2021
5   6     Shabnim Ismail   SA    688        743 v India, 07/03/2021
6   7    Katherine Brunt  ENG    666        796 v India, 03/02/2013
7   8     Ayabonga Khaka   SA    643  662 v West Indies, 10/09/2021
8   9     Anya Shrubsole  ENG    598     655 v Pakistan, 12/12/2019
9  10         Kate Cross  ENG    589  589 v New Zealand, 26/09/2021