In [1]:
#a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have toscrape:

import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

# 1. Objective : Scraping the team ranking

In [2]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
r = requests.get(url)

In [3]:
soup = bs(r.text, 'html.parser')
table  = soup.find('table', class_="table")
body = table.find('tbody')

tr = body.find_all('tr')
row = []

for i in tr:
    row_data = i.find_all('td')
    l = []
    for j in row_data:
    p = j.text.strip().split('\n')
    
    l.append(p)

    row.append(l)

In [4]:
list = []
for i in row:
  
   pos = i[0][0]
    team = i[1][0]
    matches = i[2][0]
    point = i[3][0]
    rating = i[4][0]
    
    d = {
      'POS' : pos,
       'TEAM' : team,
       'MATCHES' : matches,
       'POINTS' : point,
       'RATING' : rating
       }
    list.append(d)

In [6]:
df = pd.DataFrame(list)
df.head(10)

  POS          TEAM MATCHES POINTS RATING
0   1   New Zealand      17  2,054    121
1   2       England      32  3,793    119
2   3     Australia      28  3,244    116
3   4         India      32  3,624    113
4   5  South Africa      25  2,459     98
5   6      Pakistan      27  2,524     93
6   7    Bangladesh      30  2,740     91
7   8   West Indies      30  2,523     84
8   9     Sri Lanka      32  2,657     83
9  10   Afghanistan      17  1,054     62

# 2. Scraping ODI Batting Rankings

In [7]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
r = requests.get(url)
soup = bs(r.text, 'html.parser')

In [8]:
pos_list = []
player_list  = []
team_list  = []
rating_list = []
career_best_rating_list  = []


pos = soup.find('td', class_="rankings-block__position").text
pos_list.append(pos)


player = soup.find('div', class_="rankings-block__banner--name-large").text
player_list.append(player)


team = soup.find('div', class_ = "rankings-block__banner--nationality").text.strip().replace('\n','')
team_list.append(team)


rating = soup.find('div', class_="rankings-block__banner--rating").text
rating_list.append(rating)


career_best_rating  = soup.find('span', class_="rankings-block__career-best-text").text.strip()
career_best_rating_list.append(career_best_rating)

In [9]:
container = soup.find_all('tr', class_="table-body")

for i in container:#[0:1]:
    pos = i.find('td', class_="table-body__cell table-body__cell--position u-text-right").text.strip()
    pos = pos.split('\n') 
    pos = pos[0] 
    pos_list.append(pos)
  
  
    player = i.find('td', class_="table-body__cell rankings-table__name name").text.strip()
    player_list.append(player)

  
    team = i.find('span', class_="table-body__logo-text").text.strip()
    team_list.append(team)

 
    rating = i.find('td', class_="table-body__cell rating").text.strip()
    rating_list.append(rating)

  
    career_best_rating = i.find('td', class_="table-body__cell u-text-right u-hide-phablet").text.strip()
    career_best_rating_list.append(career_best_rating)

In [12]:
df  = pd.DataFrame({
    'POS' : pos_list,
    'PLAYER' : player_list,
    'TEAM' : team_list,
    'RATING' : rating_list,
    'CAREER BEST RATING': career_best_rating_list
})


df.replace(to_replace = 'This player has moved down in the rankings since the previous rankings update', value='', inplace= True)

df.head(10)

  POS           PLAYER TEAM RATING            CAREER BEST RATING
0   1       Babar Azam  PAK    873     873 v England, 13/07/2021
1   2      Virat Kohli  IND    844     911 v England, 12/07/2018
2   3     Rohit Sharma  IND    813   885 v Sri Lanka, 06/07/2019
3   4      Ross Taylor   NZ    801  841 v Bangladesh, 05/06/2019
4   5      Aaron Finch  AUS    779     798 v England, 25/06/2019
5   6   Jonny Bairstow  ENG    775       796 v India, 26/03/2021
6   7     David Warner  AUS    762    880 v Pakistan, 26/01/2017
7   8        Shai Hope   WI    758  808 v Bangladesh, 17/05/2019
8   9  Kane Williamson   NZ    754       799 v India, 09/07/2019
9  10  Quinton de Kock   SA    747   813 v Sri Lanka, 10/03/2019

# 3. Scraping the ODI Bowling Rankings data

In [13]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
r = requests.get(url)
soup = bs(r.text, 'html.parser')

In [14]:
pos_list = []
player_list  = []
team_list  = []
rating_list = []
career_best_rating_list  = []


pos = soup.find('td', class_="rankings-block__position").text
pos_list.append(pos)


player = soup.find('div', class_="rankings-block__banner--name-large").text
player_list.append(player)


team = soup.find('div', class_ = "rankings-block__banner--nationality").text.strip().replace('\n','')
team_list.append(team)


rating = soup.find('div', class_="rankings-block__banner--rating").text
rating_list.append(rating)


career_best_rating  = soup.find('span', class_="rankings-block__career-best-text").text.strip()
career_best_rating_list.append(career_best_rating)

In [15]:
container = soup.find_all('tr', class_="table-body")

for i in container:#[0:1]:
    pos = i.find('td', class_="table-body__cell table-body__cell--position u-text-right").text.strip()
    pos = pos.split('\n') 
    pos = pos[0] 
    pos_list.append(pos)
  
    player = i.find('td', class_="table-body__cell rankings-table__name name").text.strip()
    player_list.append(player)

  
    team = i.find('span', class_="table-body__logo-text").text.strip()
    team_list.append(team)

  
    rating = i.find('td', class_="table-body__cell rating").text.strip()
    rating_list.append(rating)

  
    career_best_rating = i.find('td', class_="table-body__cell u-text-right u-hide-phablet").text.strip()
    career_best_rating_list.append(career_best_rating)

In [16]:
df  = pd.DataFrame({
    'POS' : pos_list,
    'PLAYER' : player_list,
    'TEAM' : team_list,
    'RATING' : rating_list,
    'CAREER BEST RATING': career_best_rating_list
})


df.replace(to_replace = 'This player has moved down in the rankings since the previous rankings update', value='', inplace= True)

df.head(10)

  POS            PLAYER TEAM RATING             CAREER BEST RATING
0   1       Trent Boult   NZ    737  770 v West Indies, 22/06/2019
1   2    Josh Hazlewood  AUS    709      733 v England, 26/01/2018
2   3  Mujeeb Ur Rahman  AFG    708      712 v Ireland, 24/01/2021
3   4      Chris Woakes  ENG    700    711 v Sri Lanka, 04/07/2021
4   5      Mehedi Hasan  BAN    692    725 v Sri Lanka, 25/05/2021
5   6        Matt Henry   NZ    691   691 v Bangladesh, 26/03/2021
6   7    Jasprit Bumrah  IND    679  841 v West Indies, 01/11/2018
7   8    Mitchell Starc  AUS    652  783 v New Zealand, 29/03/2015
8   9   Shakib Al Hasan  BAN    650     717 v Zimbabwe, 05/11/2009
9  10     Kagiso Rabada   SA    646      724 v England, 29/05/2017